.markdown {
  line-height: 1.75;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.markdown h1 {
  font-size: 3rem; /* text-3xl */
  margin-bottom: 1rem;
  line-height: 1.3;
  font-weight: bold;
}

.markdown h2 {
  font-size: 1.875rem; /* text-3xl */
  margin-top: 3rem;
  margin-bottom: 1rem;
  line-height: 1.3;
  font-weight: bold;
}

.markdown h3 {
  font-size: 1.5rem; /* text-2xl */
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.4;
  font-weight: bold;
}

.markdown ul {
  padding-left: 1.5rem;
  list-style-type: disc;
}

.markdown ol {
  padding-left: 1.5rem;
  list-style-type: decimal;
}

.markdown blockquote {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 3px solid gray;
  color: #ccc;
  font-style: italic;
}

.markdown pre {
  background-color: #222;
  padding: 1rem;
  border-radius: 4px;
  overflow-x: auto;
}

.markdown code {
  background-color: #333;
  padding: 0.2rem 0.4rem;
  border-radius: 3px;
  font-family: monospace;
}

.markdown a {
  color: var(--brand-color);
  text-decoration: underline;
}